extends layout

block content
  div.row
    div.col-12.justify-content-center
      h1= title
      p Welcome to #{title}

  div.row
    div.col-12.justify-content-center
      ul
        each message in messages
          li
            span.title #{message.title} 
            span says: #{message.text} - 
            span.date on #{message.added.toUTCString()}

  div.row
    div.col-12.justify-content-center
      form(method="POST" action="/new")
        div.form-group
          label(for="message_author") Author:
          input#message-author.form-control(type="text", name="message_author", placeholder="Author")
        div.form-group
          label(for="message_text") Text:
          textarea#message-text.form-control(name="message_text", placeholder="Text", maxLength=100)
        button.btn.btn-primary(type="submit") Submit